<nav class="navbar navbar-default navbar-blue">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user/' +  uid]" class="navbar-link">
        <span (click)="updateUser()" class="glyphicon glyphicon-ok navbar-white"></span>
      </a>
    </p>

  </div>
</nav>


<div class="container">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]= "username"
             name="username"
             type="text"
             class="form-control"
             id="username">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)] = "email"
             name="email"
             type="email"
             class="form-control"
             id="email" >
    </div>
  </form>

  <form>
    <div class="form-group">
      <label>First Name</label>
      <input [(ngModel)] = "firstname"
             type = "text"
             name="first"
             class="form-control"
             id="firstName">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)] = "lastname"
             name="last"
             type="text"
             class="form-control"
             id="lastName" >
    </div>
  </form>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/user/'+ uid + '/website']">Websites</a>
  <a (click)="logout()" class="btn btn-danger btn-block "
     [routerLink]="['/login']" >Logout</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom navbar-blue">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user',uid]">
        <span class="glyphicon glyphicon-user navbar-white"></span>
      </a>
    </p>

  </div>
</nav>
