<div class="container-fluid" style="height: 100%;">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    Please enter website name!
  </div>
  <div class="row" style="position: relative;height: 100%;">
    <div class="col-xs-3 hidden-xs">
      <nav class="navbar navbar-default navbar-blue">
        <div class="container-fluid">
          <a [routerLink]="['/user/:uid/website']" class="pull-right navbar-text">
            <span class="glyphicon glyphicon-plus "></span>
          </a>
          <a [routerLink]="['/user/:uid/website']" class="pull-left navbar-text">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <div class="navbar-header">
            <a class="navbar-brand navbar-blue">
              Websites
            </a>
          </div>
        </div>
      </nav>
      <ul class="list-group">
        <li class="list-group-item" *ngFor = "let website of websites">
          {{website.name}}
          <a  class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 col-xs-12">
      <nav class="navbar navbar-default navbar-blue">
        <div class="container-fluid">
          <a [routerLink]="['/user/' + userId + '/website']" class="pull-right navbar-text">
            <span (click)="updateWebsite()" class="glyphicon glyphicon-ok"></span>
          </a>
          <div class="navbar-header">
            <a class="navbar-brand">
              Edit Websites
            </a>
          </div>
        </div>
      </nav>
      <label for="name">
        Website Name
      </label>
      <input [(ngModel)]="name"
             class="form-control"
             id="name"
             placeholder="Facebook"/>
      <label for="description">
        Website Description
      </label>
      <textarea [(ngModel)]="description"
                class="form-control"
                id="description"></textarea>
      <a (click)= "deleteWebsite(websiteId)" class="btn btn-danger btn-block">Delete</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-blue">
      <div class="container-fluid">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/user/:uid']">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </p>

      </div>
    </nav>
  </div>
</div>