<!DOCTYPE html>
<html lang="en" style="height: 100%;overflow: hidden;">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">


  <meta charset="UTF-8">
  <title>Pages</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <!--<link href="../../../styles.css" rel="stylesheet"/>-->

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <!--<link href="../css/style.css" rel="stylesheet"/>-->
</head>
<body style="height: 100%;">
<nav class="navbar navbar-default navbar-fixed-top" style="position:relative;">
  <div class="container-fluid">
    <a href="page-new.html" class="pull-right navbar-text">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="../website/website-list.html" class="pull-left navbar-text">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <div class="navbar-header">
      <a class="navbar-brand">
        Pages
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid" style="height: 100%;">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6"><a href="../widget/widget-list.html">Blog Post</a></div>
        <div class="col-xs-6">
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6"><a href="../widget/widget-list.html">Blogs</a></div>
        <div class="col-xs-6">
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6"><a href="../widget/widget-list.html">Home</a></div>
        <div class="col-xs-6">
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6"><a href="../widget/widget-list.html">About</a></div>
        <div class="col-xs-6">
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6"><a href="../widget/widget-list.html">Contact Us</a></div>
        <div class="col-xs-6">
          <a href="page-edit.html" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</body>
</html>
